extends ../layouts/default.pug
include ../mixins/options.pug
block main
    h1.box-title Quản lý tour

    //- Section 4
    .section-4
        .inner-wrap
            .inner-item.inner-label
                <i class="fa-solid fa-filter"></i> Bộ lọc
            .inner-item
                select(filter-status-tour)
                    option(value="") Trạng thái
                    option(value="active") Hoạt động
                    option(value="inactive") Tạm dừng
            .inner-item
                select(filter-creator-tour)
                    option(value="") Người tạo
                    each item of creator
                      -if(item.fullName)
                        option(value=item._id) #{item.fullName}
            .inner-item.inner-date
                input(type="date" startDate-tour)
                span -
                input(type="date" endDate-tour)
            .inner-item
                select(filter-category-tour)
                    option(value="") Danh mục
                    +options(categoryList,0)
            .inner-item
                select(filter-price-tour)
                    option(value="") Mức giá
                    option(value="0-2000000") Dưới 2tr
                    option(value="2000000-4000000") 2tr đến 4tr
                    option(value="4000000-8000000") 4tr đến 8tr
                    option(value="8000000-1000000000000000000") Trên 8tr
            a(href=`/${pathAdmin}/tour/list`).inner-item.inner-reset
                 <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5
        .inner-wrap
            .inner-change-status
                .inner-item
                    select(change-status-tour)
                        option(value="") -- Hành động --
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                        option(value="delete") Xóa
                .inner-item
                    button(apply-change-status-tour) Áp dụng
            .inner-search
                <i class="fa-solid fa-magnifying-glass"></i>
                input(type="text" placeholder="Tìm kiếm" find-tour)
            .inner-button-create
                a(href=`/${pathAdmin}/tour/create`) + Tạo mới
            .inner-button-trash
                a(href=`/${pathAdmin}/tour/trash`) Thùng rác
    //- End Section 5

    //- Section 6
    .section-6
        .table-2
            table
                thead
                    tr
                        th(class="inner-center")
                            input(type="checkbox" class="inner-check" check-all-tour)
                        th Tên tour
                        th Ảnh đại diện
                        th Giá
                        th Còn lại
                        th(class="inner-center") Vị trí
                        th(class="inner-center") Trạng thái
                        th Tạo bởi
                        th Cập nhật bởi
                        th Hành động
                tbody
                    each tour in tourList
                        tr
                            td(class="inner-center")
                                input(type="checkbox" class="inner-check" check-tour=tour._id)
                            td #{tour.name}
                            td
                                img(src=tour.avatar class="inner-avatar")
                            td
                                div NL: #{tour.priceNewAdult.toLocaleString("vi-VN")}đ
                                div TE: #{tour.priceNewChildren.toLocaleString("vi-VN")}đ
                                div EB: #{tour.priceNewBaby.toLocaleString("vi-VN")}đ
                            td
                                div NL: #{tour.stockAdult}
                                div TE: #{tour.stockChildren}
                                div EB: #{tour.stockBaby}
                            td(class="inner-center") #{tour.position}
                            td(class="inner-center")
                                if tour.status=="active"
                                    .badge.badge-green Hoạt động
                                else
                                    .badge.badge-red Tạm dừng
                            td
                                if tour.createdUser
                                    div #{tour.createdUser}
                                div.inner-time #{tour.createdtime}
                            td
                                if tour.updatedUser
                                    div #{tour.updatedUser}
                                div.inner-time #{tour.updatedtime}
                            td
                                .inner-buttons
                                    a(href=`/${pathAdmin}/tour/edit/${tour._id}` class="inner-edit") <i class="fa-regular fa-pen-to-square"></i>
                                    a(class="inner-delete" delete-tour=tour._id) <i class="fa-regular fa-trash-can"></i>
    //- End Section 6

    //- Section 7
    .section-7
        span(class="inner-label") Hiển thị #{totalRecord==0? 0 : (currentPage-1)*itemperPage+1} - #{itemperPage*currentPage>totalRecord?totalRecord:itemperPage*currentPage} của #{totalRecord}
        select(class="inner-pagination" pagination-tour)
          -for(let i=1;i<=totalPage;i++)
            option(value=i) Trang #{i}
    //- End Section 7