extends ../layouts/default.pug

block main
  h1.box-title Thùng rác tour

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select(change-status-tour-trash)
            option(value="") -- Hành động --
            option(value="undo") Khôi phục
            option(value="delete") Xóa vĩnh viễn
        .inner-item
          button(apply-change-status-tour-trash) Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm" find-tour-trash)
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all-tour-trash)
            th Tên tour
            th Ảnh đại diện
            th Giá
            th Còn lại
            th(class="inner-center") Vị trí
            th(class="inner-center") Trạng thái
            th Tạo bởi
            th Xoá bởi
            th Hành động
        tbody
          each tour in trashList
            tr
              td(class="inner-center")
                input(type="checkbox" class="inner-check" check-tour-trash=tour._id)
              td #{tour.name}
              td
                img(src=tour.avatar class="inner-avatar")
              td
                div NL: #{tour.priceNewAdult.toLocaleString("vi-VN")}đ
                div TE: #{tour.priceNewChildren.toLocaleString("vi-VN")}đ
                div EB: #{tour.priceNewBaby.toLocaleString("vi-VN")}đ
              td
                div NL: #{tour.stockAdult}
                div TE: #{tour.stockChildren}
                div EB: #{tour.stockBaby}
              td(class="inner-center") #{tour.position}
              td(class="inner-center")
                  if tour.status=="active"
                      .badge.badge-green Hoạt động
                  else
                      .badge.badge-red Tạm dừng
              td
                div #{tour.createdByFullName}
                div.inner-time #{tour.createdAtFormat}
              td
                div #{tour.deletedByFullName}
                div.inner-time #{tour.deletedAtFormat}
              td
                .inner-buttons
                  a(class="inner-undo" undo-tour=tour._id) <i class="fa-solid fa-rotate-left"></i>
                  a(class="inner-delete" delete-tour=tour._id) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị #{totalRecord==0? 0 : (currentPage-1)*itemperPage+1} - #{Math.min(currentPage*itemperPage,totalRecord)} của #{totalRecord}
    select(class="inner-pagination" pagination-tour-trash)
      -for(let i=1;i<=totalPage;i++)
        option(value=i) Trang #{i}
  //- End Section 7